<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<style>
    html {height: 100%;}
    body {
        margin: 0;
        height: 100%;
        background: url(/static/img/404.jpg);
        background-size: cover;

    }
</style>

<body>
<p align="center">PAGE IS DEVELOPING</p>
<p align="center"><a class="collapse-item" href="/dashboard/main/">BACK TO DASHBOARD</a></p>

<p align="top" > <img src=/static/img/travolta.gif align="left"></p>



</body>
</html>