{% extends "hotsrvpn/base.html" %}
{% load static %}
{% block content %}

      <div class="row">
          <div class="col-5"  id="hotel_edit_form"  >
                  <!-- Information Fields-->
              <div style="margin: 5%">
                  <form id="save_edit_hotel_form">
                      {% csrf_token %}
                      <p>Information about hotel</p>
                      <input value="{{hotel.hotel_admin_id}}" type="text" name="hotel_admin_id" placeholder="Hotel ID" class="form-control form-control-user" required="" id="id_hotel_admin_id">
                      <input value="{{hotel.hotel_country}}" type="text" name="hotel_country" placeholder="Country" class="form-control form-control-user" required="" id="id_hotel_country">
                      <input value="{{hotel.hotel_city}}" type="text" name="hotel_city" placeholder="hotel_city" class="form-control form-control-user" required="" id="hotel_city">
                      <input value="{{hotel.hotel_name}}" type="text" name="hotel_name" placeholder="Name" class="form-control form-control-user" required="" id="id_hotel_name">
                      <input value="{{hotel.hotel_name_certification}}" readonly="readonly" type="text" name="hotel_name_certification" placeholder="Name Certification" class="form-control form-control-user" required="" id="id_hotel_name_certification">
                      <input value="{{hotel.hotel_ip_address}}" type="text" name="hotel_ip_address" placeholder="IP address" class="form-control form-control-user" required="" id="id_hotel_ip_address">
                      <input value="{{hotel.hotel_port}}" type="text" name="hotel_port" placeholder="Port" class="form-control form-control-user" required="" id="id_hotel_port">
                      <input value="{{hotel.hotel_vpn_ip_address}}" type="text" name="hotel_vpn_ip_address" placeholder="IP address" class="form-control form-control-user" required="" id="hotel_vpn_ip_address">
                      <input value="{{hotel.hotel_vpn_port}}" type="text" name="hotel_vpn_port" placeholder="Port" class="form-control form-control-user" required="" id="hotel_vpn_port">
                      <br>
                      <script>var status_cert = "{{ check_certeficate_status }}"</script>
                      <div id="div_download_certificate" style="display: none">
                          <div id="download_certificate_linux" >
                              <a href="/download/{{hotel.hotel_name_certification}}/{{hotel.hotel_name_certification}}.conf" class="btn btn-success btn-icon-split" >
                                  <span class="icon text-white-50">
                                      <i class="fas fa-check"></i>
                                  </span>
                                  <span class="text">Download for Linux</span>
                              </a>
                          </div>
                      </div>

              </div>


              <script src="/static/hotel/edit_hotel_logic.js"></script>
          </div>
                     <!-- Information Fields-->
          <div class="col-5" id="download_button_div" >
              <div style="margin: 5%">
                  <p>Copy certificate to host </p>
                  {{ hotel_form.login }}
                  {{ hotel_form.password }}
                  <br>
                  </form>
                  <br><br>
                   <p id="cert_exist">Certificate exist: {{ check_certeficate_status }} </p>
                  <p id="cert_date">Date of creation: {{ hotel.hotel_date_of_creation_certificate}}</p>
              </div>
          </div>
      </div>
{% endblock %}



{% block edit_buttons %}
    <li class="top_buttons">
        <a class="nav-link" role="button" id="save_and_exit">Save and Exit</a>
    </li>

    <li class="top_buttons">
        <a class="nav-link"  href="/vpn/hotel/">Exit</a>
    </li>

    <li class="top_buttons" >
        <a class="nav-link"  role="button" id="delete_hotel">Delete hotel</a>
    </li>

    <li class="top_buttons">
        <a class="nav-link"  role="button" id="create_certificate">Create certificate</a>
    </li>

    <li class="top_buttons">
        <a class="nav-link"  role="button" id="copy_cert_button" >Send certificate</a>
    </li>
{% endblock %}







