{% extends "hotsrvpn/base.html" %}
{% block content %}
<script src="/static/hotel/hotel_logic.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>
<div id="create_form" style="display: none; margin-right: 60%; margin-left: 2.5% ">
    <form id="form_hotel">
        {% csrf_token %}
        {{ hotel_form.hotel_admin_id }}
        {{ hotel_form.hotel_country }}
        {{ hotel_form.hotel_city }}
        {{ hotel_form.hotel_name }}
        {{ hotel_form.hotel_name_certification }}
        {{ hotel_form.hotel_ip_address }}
        {{ hotel_form.hotel_port }}<br>

    </form>
<button type="button" class="btn btn-primary" id="create_hotel_button" onclick="createHotel()">Create hotel</button>
</div>
<br>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table id="hotelTable" class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="sorting_asc" tabindex="0" hotelTable rowspan="1" colspan="1" aria-sort="ascending"  style="width: 57px;">Hotel ID</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 62px;">Country</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 49px;">City</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 31px;">Hotel name</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 68px;">Ceritifcate name</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Public ip address</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Public port</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">VPN ip address</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">VPN port</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Date of create</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Edit hotel</th>
                        </tr>
                    </thead>
                    <tfoot>
                         <tr>
                            <th class="sorting_asc" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 57px;">Hotel ID</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 62px;">Country</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 49px;">City</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 31px;">Hotel name</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 68px;">Ceritifcate name</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 67px;">Public ip address</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 67px;">Public port</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 67px;">VPN ip address</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 67px;">VPN port</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 67px;">Date of create</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Edit hotel</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block edit_buttons %}
    <li class="top_buttons" >
        <a class="nav-link"  role="button" id="show_form_button" style="display:block" onclick="show_form()">    Show create hotel form</a>
    </li>
    <li class="top_buttons">
        <a class="nav-link"  role="button" id="hide_form_button" style="display:none" onclick="hide_form()">    Hide create hotel form</a>
    </li>
{% endblock %}
