{% extends "hotsrvpn/base.html" %}
{% block content %}

<script src="/static/user/user_logic.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>

<div id="create_form" style="display: none; margin-right: 60%; margin-left: 2.5% ">
      <form id="form_user" >
      {% csrf_token %}
{#          {{users_json}}#}
          {{ user_form.organisation }}
          {{ user_form.user_city }}
          {{ user_form.user_fio }}
          {{ user_form.user_cert }}
          <br>
      </form>
<button type="button" class="btn btn-primary" onclick="createUser()">Create user</button><br><br>
</div>


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table id="userTable" class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="sorting_asc" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 57px;">City</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 31px;">Organisation</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 68px;">User name</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Certificate</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Date of create</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Edit user</th>
                        </tr>
                    </thead>
                    <tfoot>
                         <tr>
                            <th class="sorting_asc" tabindex="0" hotelTable rowspan="1" colspan="1"  style="width: 57px;">City</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 31px;">Organisation</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 68px;">User name</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Certificate</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Date of create</th>
                            <th class="sorting" tabindex="0" hotelTable rowspan="1" colspan="1" style="width: 67px;">Edit user</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block edit_buttons %}
    <li class="top_buttons" >
        <a class="nav-link"  role="button" id="show_form_button" style="display:block" onclick="show_form()">Show user create form</a>
    </li>
    <li class="top_buttons">
        <a class="nav-link"  role="button" id="hide_form_button" style="display:none" onclick="hide_form()">Hide user create form</a>
    </li>
{% endblock %}
