{% extends "hotsrvpn/base.html" %}
{% load static %}

{% block content %}
    <h5 class="collapse-item" id="status_bar_text" align="center"> Press "start deploy" button for begin deploying</h5>
    <div class="progress mb-4">
       <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id="process_status"></div>
    </div>
    <div id="gitDownload" style="display: none">
        <h5 class="collapse-item" id="git_bar_text" align="center"> download from git</h5>
    </div>
                         <div class=container-fluid>
                             <div  class="row" >
                                 <div class="col-5">

                                     <form id="FormDeploy">
                                          {% csrf_token %}

                                         {{ form.client_login}}
                                         {{ form.client_ip }}
                                         {{ form.client_port }}
                                         {{ form.client_password }}
                                         {{ form.client_sudo_password }}
                                         <p id="check_passwords"></p>
                                         {{ form.uplink_interface }}
                                         {{ form.hotel_id }}
                                         {{ form.select }}


                                     </form>
                                     <div id="div_hostname" style="display: none">{{ form.hostname }}</div>
                                     <label> Packages for Installing</label>
                                          {{ form.install_packeges }}


                                     <form id="gitForm">
        <div id="git_div" style="display: none">
             <p>Git</p>
             {{ form.git_login }}
             {{ form.git_password }}
        </div>
    </form>
    <form id="dhcpForm">
         <div id="dhcp_div" style="display: none">
             <br>
             {{ form.dhcp_interface }}
             <br>
             <p>DHCP config</p>
             {{ form.dhcp_network }}
             {{ form.dhcp_mask }}
             {{ form.dhcp_range_start }}
             {{ form.dhcp_range_end }}
             {{ form.domain_name }}
             {{ form.dhcp_dns }}
             {{ form.dhcp_broadcast }}
             {{ form.dhcp_gateway }}
         </div>
    </form>

                                 </div>
                                 <div class="col-4">
                                     <div class="col-sm"><p>Packages</p> <img src=/static/img/download.gif height="25" width="25" id="download_gif" style="display: none" class="download_gif">
                                         <div  id="feedback_install_messsages" >
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-3">
                                     <div class="col-sm"><p>Configs</p><img src=/static/img/download.gif height="25" width="25" id="download_gif2" style="display: none" class="download_gif">
                                         <div id="feedback_task_messsages"></div>
                                     </div>
                                 </div>
                             </div>
                         </div>






            <script src="/static/js/deploy_client/check_box_logic.js"></script>
            <script src="/static/js/deploy_client/request_task_and_packages.js"></script>
            <script src="/static/js/deploy_client/logic_datahost.js"></script>

            {% endblock %}
            {% block edit_buttons %}
                <div class="container">
                    <div class="dropdown">
                          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"  >Additionally</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" >{{ form.dhcp_checkbox }}{{ form.dhcp_checkbox.label }}</a>
                            <a class="dropdown-item" >{{ form.hostname_checkbox }}{{ form.hostname_checkbox.label }}</a>
                            <a class="dropdown-item" >{{ form.git_test }}{{ form.git_test.label }}</a>
                            <a class="dropdown-item" >{{ form.daemon }}{{ form.daemon.label }}</a>
{#                            <a class="dropdown-item" >{{ form.git_streamer }}{{ form.git_streamer.label }}</a>#}

                        </div>
                    </div>
                </div>
                <div class="container">
                    <a class="nav-link"  role="button" disabled="false" id="start_deploy_server" style="display: none" onclick="startInstall()">Start deploy</a>
                </div>




            {% endblock %}


