<!doctype  html>
{% load static %}
<html  lang="en">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>vpn login</title>
</head>
<body>
  <div  class="container">
    <div  class="rols staw justify-content-center" style="margin-top: 15%">
      <div  class="col-4" >
      {% block main %}
      {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
